.register-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-image: url(C:\Users\dilber\Desktop\turkeyvibe\turkeyvibe\image\istockphoto-1015542074-612x612.jpg);
 
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-family: 'Georgia', serif;
  animation: bgGlow 10s infinite alternate;
}